.App {
  text-align: center;
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text_field{
  margin: 5px;
}

.custom_button{
  padding: 10px;
  background-color: #FF9900;
  
}

.custom_button:hover{
  padding: 10px;
  background-color: skyblue;
  
}